{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{% static 'img/Django/django安装1.png' %}" alt="">

<h1>拿到字段</h1>
<div>{{ name }}</div>
<div>{{ role_list.0 }}</div>
<div>{{ user_info_dict.age }}</div>

<h1>拿到列表</h1>
<div>
    {% for item in role_list %}
        <span>{{ item }}</span>
    {% endfor %}
</div>

<h1>拿到字典</h1>
<div>
    {% for item in user_info_dict.keys %}
        <span>{{ item }}</span>
    {% endfor %}
</div>
<div>
    {% for item in user_info_dict.values %}
        <span>{{ item }}</span>
    {% endfor %}
</div>
<div>
    {% for k, v in user_info_dict.items %}
        <li>{{ k }} = {{ v }}</li>
    {% endfor %}
</div>

<h1>条件语句</h1>
<div>
    {% if name == "v_hlhllu" %}
        <h1>英文名1 {{ name }}</h1>
    {% elif name == "luck" %}
        <h1>英文名2 {{ name }}</h1>
    {% else %}
        <h1>英文名3 {{ name }}</h1>
    {% endif %}
</div>
{#模板继承，只需要继承它的模板重新content即可#}
{#<div>#}
{#    <div class="container">#}
{#        {% block content %}{% endblock %}#}
{#    </div>#}
{#</div>#}
{##}
{#模板继承#}
{#{% extends 'index.html' %}#}
{#{% block content %}#}
{#        <h1>重新的内容</h1>#}
{#{% endblock %}#}
</body>
</html>